
body {
  margin: 0;
  font-family:  'Gilroy-Light',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New"
    monospace;
}
@font-face {
  font-family: 'Gilroy-Light';
  src: URL('/font/SVN-Gilroy Light.otf') format('opentype');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: URL('/font/SVN-Gilroy Bold.otf') format('opentype');
}

.Header-container{
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding: 11px 24px;
}
.Header-logo{
  max-width: 65px;
  max-height: 41px;
  float: left;
}
.Header-logo-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header-account{
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.MainMenu-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #4F4F4F;
  height: 100%;
}

.MainMenu-container nav{
  width: 100%;
}

.MainMenu-item-title{
  font-family: 'Gilroy-Bold';
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 12px 0 12px 20px;
}
.MainMenu-icon{
  margin-right: 17px;
}
.MainMenu-item{
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 16px;
  padding: 12px 0 12px 20px;
  cursor: pointer;  
  width: 100%;
  text-decoration: none !important;
}
.MainMenu-item:hover{
  background-color: #333333;
  color: #ffffff;
}
.MainMenu-item:hover .MainMenu-icon{
  color: #F2994A;
}

.MainMenuItemActive{
  background-color: #333333;
  color: #ffffff;
}
.MainMenuItemActive .MainMenu-icon{
  color: #F2994A;
}

.Path-text{
  color: #000000;
  font-size: 16px;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.ComponentContainer{
  margin: 23px;
  width: 100%;
  background-color:#C4C4C4;
}
.ComponentContainer-title{
  background-color: #E0E0E0;
  padding: 13px;
  color: #000000;
  font-size: 16px;
  border: 1px solid #828282;
  border-bottom: 0px;
  box-sizing: border-box;
  text-align: start;
  align-content: center;
}
.ComponentContainer-body{
  border: 1px solid #828282;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 13px;
}
.InputContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
  margin-left: auto;
  margin-right: 0;
}
.InputBorder{
  border: 1px solid #4F4F4F;
  box-sizing: border-box;
}
.NoBorderBootstrap{
  border: 0px solid #00000000;
  box-sizing: border-box;
}
.TableTitle-center-align{
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.TableTitle-left-align{
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
.TableTitle-right-align{
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}
.Table-title-action{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ImageThumbnail{
  max-width: 87px;
  max-height: 69px;
  border-radius: 3px;
}
.ImageThumbnail-modal{
  width: 190px;
  height: 190px;
  border-radius: 3px;
  margin: auto;
}
.StatisticTextButton{
  display: inline-block;
  padding: 10px 14px;
  border: 1px solid #333333;
  color: black;
  background-color: white;
  cursor: pointer;
}
.StatisticTextButton:hover {
  color: white !important;
  background-color: #333333 !important;
}
.StatisticTextButton-active{
  color: white !important;
  background-color: #333333 !important;
}
.ant-switch-checked{
  background-color: #333 !important;
}
.ant-input{
  border-radius: 0 !important;
  height: 38px !important;
  border: 1px solid #333 !important;
}
.ant-modal-body{
  padding-left: 10px !important;
}
.StatisticLine{
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
}
.nomargin{
  margin: 0 !important;
}
.StatisticFrame{
  width: 263px;
  height: 141px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Gilroy-Bold;
  color: white;
}
.StatisticFrameLogo{
  height: 106px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-control{
  height: 38px !important;
}
.btn{
  border-radius: 0px !important;
}
.ant-cascader-picker{
  font-size: 16px !important;
}
.ant-calendar-range-picker-input{
  font-size: 16px !important;
}
.ant-pagination{
  font-size: 16px !important;
}
.ant-pagination-simple .ant-pagination-simple-pager{
  height: 38px !important;  
}
.ant-pagination-simple .ant-pagination-simple-pager input{
  border-radius: 0 !important;
}
.ant-pagination-simple .ant-pagination-prev, .ant-pagination-simple .ant-pagination-next{
  vertical-align: middle !important;
  height: 30px !important;
}
.normal-button{
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  width: fit-content;
  padding: 11px 18px;
}
.cancel-button{
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 0px;
  color: #ffffff;
  background-color: #333333;
  font-family: Gilroy-Bold;
  padding: 11px 25px;
}
.ok-button{
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 0px;
  color: #ffffff;
  background-color: #F2994A;
  font-family: Gilroy-Bold;
  padding: 11px 25px;
}
.row-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.transparent-button{
  border: 0px solid #00000000;
  box-sizing: border-box;
  background-color: #00000000;
}
.name:hover{
  text-decoration: underline;
  font-size: 23px;
  cursor: pointer;
}
.employee-create-btn{
  background-color: #12CBC4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Gilroy-Bold;
  font-size: 16px;
  color: white;
  padding: 10px 1rem;
  width: 122px;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 13px;
}
.ant-modal-content{
  border-radius: 0 !important;
}
.ant-modal-confirm .ant-modal-body{
  padding: 24px !important;
}
.ant-btn{
  border-radius: 0 !important;
  font-family: Gilroy-Bold !important;
  padding: 11px 25px !important;
  color: #fff !important;
  height: auto !important;
  background-color: #333 !important;
  border: none !important;
}
.ant-btn-primary{
  background-color: #F2994A !important;
  border: none !important;
}
.hidden-input{
  transform: scale(0);
  position: absolute;
}